

/* Top Elements */
* { margin: 0; padding: 0; }

body {
	background: white;
	font: normal 70%/1.5em Trebuchet;
	color: #333;
	text-align: justify;
}

/* links */
a {
	background: inherit;
	text-decoration: none;
	color: black;
}
a:hover {
	background: inherit;
	color:  #d83f17;
}
/* headers */
h1, h2, h3 {
	font-family: Verdana;
	font-weight: Bold;
}
h1 { font-size: 180%; text-align: center;}
h2 { font-size: 110%; text-transform: uppercase; }
h3 { font-size: 110%; }

h1, h2, h3, p {
	margin: 0;
	padding: 10px;
}
ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}

/* images */
img {
	border: 2px solid #CCC;
}
img.float-right {
  margin: 5px 0px 5px 10px;
}
img.float-left {
  margin: 5px 10px 5px 0px;
}




/*LAYOUT*/
/* Main */
#main {
	float: left;
	width: 60%;
	padding: 0;	margin: 0;
}
#main h1 {
	margin: 10px 0 0 0;
	padding: 3px 10px;
	font: bold 240% Optima;
	color: black;
	background: white;
	border-bottom: 2px solid black;
}


/* sidebar */
#sidebar {
	top: 50%;
  left:50%;
	padding: 10%;
}
#sidebar h1 {
	margin: 10px 0 0 0;
	padding: 3px 10px;
	font: bold 300% Optima;
	color: black;
	background: white;
	border-bottom: 5px solid black;
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 3px 0px 8px 0; padding: 0;
	text-decoration: none;
}
#sidebar ul.sidemenu li {
	border-bottom: 2px solid black;
	padding: 2px 0 2px 25px;
	margin: 0 2px;
}

* html body #sidebar ul.sidemenu li { height: 1%; }

#sidebar ul.sidemenu a {
	font-weight: bold;
	padding: 2px 0;
	background: none;
}

/* footer */
#footer {
	clear: both;
	color: #66737B;
	font: normal 90% Verdana;
	background: #FFF url(footerbg.jpg) no-repeat center top;
	width: 833px;
	height: 60px;
	text-align: center;
	padding: 8px 0 0 0;
	margin: 0 auto;
}
#footer a { text-decoration: none; }

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* additional classes */
.clear { clear: both; }
.gray { color: #CCC; }
